@import "../variables";

.item-card {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid $text-color;
  border-radius: 1.5rem;
  width: 600px;
  flex-wrap: wrap;

  &-image {
    max-width: 25%;
    min-width: 9.5rem;
    border: 1px solid $text-color;
    border-radius: 1.5rem;

    img {
      width: 100%;
      border-radius: 1.5rem;
      aspect-ratio: 1;
    }
  }

  &-info {
    flex: 1 1;

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

@import "../media/components/m-item-card";
